-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: MANAGEBANKACCOUNT
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accountbank`
--

DROP TABLE IF EXISTS `accountbank`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accountbank` (
  `numberAccount` varchar(10) NOT NULL,
  `userID` varchar(10) NOT NULL,
  `passWord` varchar(200) NOT NULL,
  `pinCode` char(6) NOT NULL,
  `balance` decimal(15,2) NOT NULL DEFAULT 0.00 CHECK (`balance` >= 0),
  `state` enum('Active','Blocked','Deleted') NOT NULL DEFAULT 'Active',
  `create_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`numberAccount`),
  KEY `userID` (`userID`),
  CONSTRAINT `accountbank_ibfk_1` FOREIGN KEY (`userID`) REFERENCES `userbank` (`userID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accountbank`
--

LOCK TABLES `accountbank` WRITE;
/*!40000 ALTER TABLE `accountbank` DISABLE KEYS */;
/*!40000 ALTER TABLE `accountbank` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `banktransactions`
--

DROP TABLE IF EXISTS `banktransactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `banktransactions` (
  `transactionId` char(30) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `amount` decimal(15,2) NOT NULL DEFAULT 0.00 CHECK (`amount` >= 0),
  `stateOfTransaction` enum('Processing','Success','Cancel') NOT NULL DEFAULT 'Processing',
  `typeOfTransactionCode` char(4) NOT NULL,
  `numberAccount` varchar(10) NOT NULL,
  `destinationAccount` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`transactionId`),
  KEY `typeOfTransactionCode` (`typeOfTransactionCode`),
  KEY `numberAccount` (`numberAccount`),
  KEY `destinationAccount` (`destinationAccount`),
  CONSTRAINT `banktransactions_ibfk_1` FOREIGN KEY (`typeOfTransactionCode`) REFERENCES `typeoftransaction` (`typeOfTransactionCode`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `banktransactions_ibfk_2` FOREIGN KEY (`numberAccount`) REFERENCES `accountbank` (`numberAccount`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `banktransactions_ibfk_3` FOREIGN KEY (`destinationAccount`) REFERENCES `accountbank` (`numberAccount`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `banktransactions`
--

LOCK TABLES `banktransactions` WRITE;
/*!40000 ALTER TABLE `banktransactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `banktransactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `card`
--

DROP TABLE IF EXISTS `card`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `card` (
  `cardNumber` char(16) NOT NULL,
  `created_at` date NOT NULL,
  `expire_at` date NOT NULL,
  `secureCode` char(3) NOT NULL,
  `numberAccount` varchar(10) NOT NULL,
  PRIMARY KEY (`cardNumber`),
  KEY `numberAccount` (`numberAccount`),
  CONSTRAINT `card_ibfk_1` FOREIGN KEY (`numberAccount`) REFERENCES `accountbank` (`numberAccount`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `card`
--

LOCK TABLES `card` WRITE;
/*!40000 ALTER TABLE `card` DISABLE KEYS */;
/*!40000 ALTER TABLE `card` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cards`
--

DROP TABLE IF EXISTS `cards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cards` (
  `cardNumber` char(16) NOT NULL,
  `cardPinCodeHash` varchar(64) NOT NULL,
  `created_at` date NOT NULL,
  `expire_at` date NOT NULL,
  `secureCode` char(3) NOT NULL,
  `numberAccount` varchar(10) NOT NULL,
  PRIMARY KEY (`cardNumber`),
  KEY `numberAccount` (`numberAccount`),
  CONSTRAINT `cards_ibfk_1` FOREIGN KEY (`numberAccount`) REFERENCES `accountbank` (`numberAccount`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cards`
--

LOCK TABLES `cards` WRITE;
/*!40000 ALTER TABLE `cards` DISABLE KEYS */;
/*!40000 ALTER TABLE `cards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `typeoftransaction`
--

DROP TABLE IF EXISTS `typeoftransaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `typeoftransaction` (
  `typeOfTransactionCode` char(4) NOT NULL,
  `nameTypeOfTransaction` varchar(100) NOT NULL,
  `description` varchar(100) NOT NULL,
  PRIMARY KEY (`typeOfTransactionCode`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `typeoftransaction`
--

LOCK TABLES `typeoftransaction` WRITE;
/*!40000 ALTER TABLE `typeoftransaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `typeoftransaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `useraccounts`
--

DROP TABLE IF EXISTS `useraccounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `useraccounts` (
  `userID` varchar(10) NOT NULL,
  `userName` varchar(200) NOT NULL,
  `ID` char(12) NOT NULL,
  `passWordHash` varchar(200) NOT NULL,
  `birthDay` date NOT NULL,
  `numberPhone` varchar(10) NOT NULL,
  `email` varchar(100) NOT NULL,
  `roleUser` varchar(20) NOT NULL,
  PRIMARY KEY (`userID`),
  UNIQUE KEY `ID` (`ID`),
  UNIQUE KEY `numberPhone` (`numberPhone`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `useraccounts`
--

LOCK TABLES `useraccounts` WRITE;
/*!40000 ALTER TABLE `useraccounts` DISABLE KEYS */;
INSERT INTO `useraccounts` VALUES ('U122397','Tr?n Anh Vu','089205017243','$2a$10$O9UMUjCQTLh8crbiKFfv1OUC6VprVjlNB65EGh.02wy1d8UKYwcJm','2005-01-14','0359906510','trananhvu314159@gmail.com','Client');
/*!40000 ALTER TABLE `useraccounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `userbank`
--

DROP TABLE IF EXISTS `userbank`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `userbank` (
  `userID` varchar(10) NOT NULL,
  `name` varchar(200) NOT NULL,
  `ID` char(12) NOT NULL,
  `birthDay` date NOT NULL,
  `numberPhone` varchar(10) NOT NULL,
  `email` varchar(100) NOT NULL,
  PRIMARY KEY (`userID`),
  UNIQUE KEY `ID` (`ID`),
  UNIQUE KEY `numberPhone` (`numberPhone`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userbank`
--

LOCK TABLES `userbank` WRITE;
/*!40000 ALTER TABLE `userbank` DISABLE KEYS */;
/*!40000 ALTER TABLE `userbank` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-08 21:38:05
